<div id="content-info">
  <div id="content-image">
    <div id="aluno">
      <% if not @aluno.foto.blank? %>
        <img id="foto_aluno" src="<%= @aluno.foto %>" />
      <% end %>
      <% if (hora = Time.now.hour) < 12.hours %>
        Bom Dia
      <% elsif hora > 12.hours and hora < 18.hours %>
        Boa Tarde
      <% else %>
        Boa Noite
      <% end %>
      <%= @aluno.nome %>!
      <br />
      Hora de Chegada: <%= Time.now.strftime("%Hh%M") %>
    </div>
  </div>
  <div class="message-notice"><%= flash[:notice] if not flash[:notice].blank? %></div>
  <div class="message-error"><%= flash[:error] if not flash[:error].blank? %></div>
  <% flash[:error] = nil %>
  <% flash[:notice] = nil %>
</div>
