<script type="text/javascript">
  $(document).ready(function(){
   setTimeout("voltarPagina()",10000);
  });
  function voltarPagina(){
    window.location.href = "/registro_presenca";
  }
</script>
<div id="content-info">
  <div id="content-image">
    <% if not @aluno.foto.blank? %>
      <img id="foto_aluno" src="<%= @aluno.foto %>" />
    <% end %>
    <div id="aluno">
      <%= @saudacao %>
      <br/>
      Hora de Chegada: <%= Time.now.strftime("%Hh%M") %>
    </div>
  </div>
  <div class="message-notice"><%= flash[:notice] if not flash[:notice].blank? %></div>
  <div class="message-error"><%= flash[:error] if not flash[:error].blank? %></div>
  <% flash[:error] = nil %>
  <% flash[:notice] = nil %>
</div>
<div id="novo-registro"><a href="/registro_presenca">Nova Presença</a></div>
<iframe src="http://translate.google.com/translate_tts?tl=pt&q=<%= @mensagem_sonora %>" width="0"></iframe>
