<div id="aniversariantes">
  <div id="title-aniversariantes">
    ANIVERSARIANTES DO MÊS DE <%= Date::MONTHNAMES[Date.today.month].upcase %>
  </div>
  <br />
  <% dia_nasc = Date.today.day %>
  <% first = true %>
  <% @aniversariantes.each do |aniversariante| %>
    <% data_nasc = aniversariante.data_nascimento %>
    <% if (dia = data_nasc.day) != dia_nasc %>
      <% if not first %>
        </ul>
      <% end %>
      <div class="aniver-title">
        <% if dia != Date.today.day %>
          <% data = Time.mktime(Time.now.year, data_nasc.month, data_nasc.day) %>
          <%= Date::DAYNAMES[data.wday] %> <%= data.strftime("%d/%m/%Y") %>
        <% else %>
          <strong>HOJE</strong> <%= Date::DAYNAMES[Date.today.wday] %> <%= Date.today.strftime("%d/%m/%Y") %>
        <% end %>
      </div>
      <% dia_nasc = dia %>
      <% first = false %>
      <ul>
    <% end %>
    <li><%= aniversariante.nome %></li>
  <% end %>
</div>
