<div class="filtros mes">
  <form action="<%= aniversariantes_do_mes_filtrar_path %>" method="GET" accept-charset="utf-8">
    <label for="lbl_mes">Mês:</label>
    <select name="mes" id="mes">
      <% for i in 0..(Date::MONTHNAMES.length - 1) %>
        <% if i == @mes.to_i %>
          <option selected value="<%= i %>"><%= Date::MONTHNAMES[i] %></option>
        <% else %>
          <option value="<%= i %>"><%= Date::MONTHNAMES[i] %></option>
        <% end %>
      <% end %>
    </select>
    <input type="submit" value="Filtrar"/>
  </form>
</div>
<div id="aniversariantes">
  <div id="title-aniversariantes">
    ANIVERSARIANTES DO MÊS DE <%= Date::MONTHNAMES[@mes.to_i].upcase %>
  </div>
  <br />
  <% dia_nasc = 0 %>
  <% first = true %>
  <% @aniversariantes.each do |aniversariante| %>
    <% data_nasc = aniversariante.data_nascimento %>
    <% if (dia = data_nasc.day) != dia_nasc %>
      <% if not first %>
        </ul>
      <% end %>
      <div class="aniver-title">
        <% if dia != Date.today.day || data_nasc.month != Date.today.month %>
          <% data = Time.mktime(Time.now.year, data_nasc.month, data_nasc.day) %>
          <%= Date::DAYNAMES[data.wday] %> <%= data.strftime("%d/%m/%Y") %>
        <% elsif data_nasc.month == Date.today.month %>
          <strong>HOJE</strong> <%= Date::DAYNAMES[Date.today.wday] %> <%= Date.today.strftime("%d/%m/%Y") %>
        <% end %>
      </div>
      <% dia_nasc = dia %>
      <% first = false %>
      <ul>
    <% end %>
    <li><%= aniversariante.nome %></li>
  <% end %>
</div>
