<div id="quadro_de_horarios">
  <h2>Personal Training</h2>
  <% { "Manhã" => 6..12, "Tarde" => 13..17, "Noite" => 18..21  }.each do |title, periodo| %>
    <h4><%= title %></h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <% (1..6).each do |day| %>
            <% if not (day == 6 and periodo != (6..12)) %>
              <th><%= Date::DAYNAMES[day] %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% periodo.each do |hora| %>
          <tr>
            <td><%= hr = format("%.2d", hora) + ":00" %> - <%= final_do_horario(hr) %></td>
            <% achou = false %>
            <% (1..6).each do |dia| %>
              <% if dia == 6 and hora > 12 %>
                <% break %>
              <% end %>
              <% @horarios[dia].each do |horario| %>
                <% achou = false %>
                <% if horario[0][0..1].to_i == hora %>
                  <% achou = true %>
                  <% if  horario[1][0].matricula.vip? %>
                    <td class="vip">* Vip *</td>
                  <% else %>
                    <% if (qtd = horario[1].count) < 4 %>
                      <td class="horario_disponivel">Disponível(<%= 4 - qtd %>)</td>
                    <% else %>
                      <td class="horario_ocupado">Ocupado</td>
                    <% end %>
                  <% end %>
                  <% break %>
                <% end %>
              <% end %>
              <% if not achou %>
                <td class="horario_disponivel">Disponível</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
