<div id="reset_password">
<%= flash[:alert] if flash[:alert] %>
<%= form_for(@user, :url => url_for(:action => :do_reset_password) , :html => { :method => :post }) do |f| %>

<%= f.hidden_field :reset_password_token %>

<div><%= f.label :password, "Nova senha" %><br />
<%= f.password_field :password %></div>

<div><%= f.label :password_confirmation, "Confirmar nova senha" %><br />
<%= f.password_field :password_confirmation %></div>

<div><%= f.submit "Alterar senha" %></div>
<div><%= link_to "Cancelar", "/" %></div>
<% end %>
</div>
