<script type="text/javascript">
  function setBairro(bairro) {
      var jqxhr = $.ajax({
          url: '/get_codigo_do_bairro?nome='+bairro
      });
      jqxhr.always(function () {
          codigo = jqxhr.responseText;
          $(".bairro-input").val(codigo);
      });
  }
  function setCidade(cidade) {
      var jqxhr = $.ajax({
        url: '/get_codigo_da_cidade?nome='+cidade
      });
      jqxhr.always(function () {
          codigo = jqxhr.responseText;
          $(".cidade-input").val(codigo);
      });
  }
  $(".cep-input").on('blur', function() {
      if ($(this).val().replace(/\D/g, "") != "") {
          $.getScript("http://cep.republicavirtual.com.br/web_cep.php?formato=javascript&cep="+$(this).val().replace(/\D/g, ""), function(){
              if(resultadoCEP["resultado"]){
                  logradouro = unescape(resultadoCEP["tipo_logradouro"]) + " " + unescape(resultadoCEP["logradouro"]);
                  $(".logradouro-input").val(logradouro);
                  setBairro(unescape(resultadoCEP["bairro"]));
                  setCidade(unescape(resultadoCEP["cidade"]));
              }
          });
      }
  });
</script>
<li class="sub-form horizontal-sub-form  endereco-sub-form" id="as_pessoas-<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>-endereco-subform" style="margin-right: 500px;" >
  <h5>Endereço</h5>
  <div id='as_pessoas-<%= (@pessoas.id.nil?) ? 99999999999 : @pessoas.id %>-endereco-subform-div'>
    <table>
      <thead>
        <tr>
          <th class='cep-column'>Cep</th>
          <th class='logradouro-column'>Logradouro</th>
          <th class='numero-column'>Numero</th>
          <th class='complemento-column'>Complemento</th>
          <th class='bairro-column'>Bairro</th>
          <th class='cidade-column'>Cidade</th>
        </tr>
      </thead>
      <tbody id="as_pessoas-<%= (@pessoas.id.nil?) ? 99999999999 : @pessoas.id %>-endereco-subform-list">
        <tr class='association-record-errors'>
          <td colspan="7" id="as_pessoas-endereco-<%= (@pessoas.endereco.nil?) ? "" : @pessoas.endereco.id %>-0-messages"></td>
        </tr>
        <tr id="association-record_id_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">
          <td>
            <dl>
              <dt>
                <label for="record_cep_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">Cep</label>
              </dt>
              <dd>
              <input class="cep-input text-input" id="record_cep_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco" type="text" name="record[endereco][cep]" value=<%= (@pessoas.endereco.nil?) ? "" : @pessoas.endereco.cep %> ></input>
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>
                <label for="record_cidade_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">Cidade</label>
              </dt>
              <dd>
                <select class="cidade-input" name="record[endereco][cidade]" id="record_ciade_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco" >
                  <option selected value=<%= (not @pessoas.endereco.nil? and not @pessoas.endereco.cidade.nil?) ? @pessoas.endereco.cidade.id : "" %> >
                    <% if not @pessoas.endereco.nil? and not @pessoas.endereco.cidade.nil? %>
                      <%= @pessoas.endereco.cidade.nome %>
                    <% else %>
                      - Selecione -
                    <% end %>
                  </option>
                  <% Cidade.order(:nome).all.each do |c| %>
                    <option value="<%= c.id %>"><%= c.nome %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>
                <label for="record_logradouro_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">Logradouro</label>
              </dt>
              <dd>
              <input class="logradouro-input text-input" id="record_logradouro_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco" type="text" name="record[endereco][logradouro]" value="<%= (@pessoas.endereco.nil?) ? "" : @pessoas.endereco.logradouro %>" ></input>
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>
                <label for="record_numero_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">Numero</label>
              </dt>
              <dd>
              <input class="numero-input text-input" id="record_numero_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco" type="text" name="record[endereco][numero]" value=<%= (@pessoas.endereco.nil?) ? "" : @pessoas.endereco.numero %> ></input>
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>
                <label for="record_complemento_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">Complemento</label>
              </dt>
              <dd>
              <input class="complemento-input text-input" id="record_complemento_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco" type="text" name="record[endereco][complemento]" value="<%= (@pessoas.endereco.nil?) ? "" : @pessoas.endereco.complemento %>" ></input>
              </dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>
                <label for="record_bairro_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco">Bairro</label>
              </dt>
              <dd>
                <select class="bairro-input" name="record[endereco][bairro]" id="record_bairro_<%= (@pessoas.id.nil?) ? "" : @pessoas.id %>_endereco" >
                  <option selected value=<%= (not @pessoas.endereco.nil? and not @pessoas.endereco.bairro.nil?) ? @pessoas.endereco.bairro.id : "" %> >
                    <% if not @pessoas.endereco.nil? and not @pessoas.endereco.bairro.nil? %>
                      <%= @pessoas.endereco.bairro.nome  %>
                    <% else %>
                      - Selecione -
                    <% end %>
                  </option>
                  <% Bairro.order(:nome).all.each do |b| %>
                    <option value="<%= b.id %>"><%= b.nome %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>
