<div id='estatisticas_table' class='active-scaffold'>
  <h2>Presenças</h2>
  <table>
    <tr>
      <th>Presenças</th>
      <th>Aulas realocadas</th>
      <th>Aulas Extras</th>
      <th>Saldo para realocação</th>
      <th title='Não avisadas com antecedência ou Ultrapassaram o limite'>Faltas sem direito<br/>à realocação</th>
      <th>Total de aulas</th>
      <% if current_user %>
        <th>Presenças errôneas</th>
      <% end %>
      <th>Aulas expiradas</th>
    </tr>
    <tr>
      <td class='tip_trigger' style='background-color: green;'>
        <%= @count_presencas %>
        <span class='tip'><%= @perc_presencas = calcular_percentual(@count_presencas, @total_geral) %>%</span>
      </td>
      <td class='tip_trigger' style='background-color: lightgreen;'>
        <%= "+ #{@count_aulas_realocadas}" %>
        <span class='tip'><%= @perc_de_aulas_realocadas = calcular_percentual(@count_aulas_realocadas, @total_geral) %>%</span>
      </td>
      <td class='tip_trigger' style='background-color: lightblue;'>
        <%= "+ #{@count_aulas_extras}" %>
        <span class='tip'><%= @perc_aulas_extras = calcular_percentual(@count_aulas_extras, @total_geral) %>%</span>
      </td>
      <td class='tip_trigger' style='background-color: #f5e9e9;'>
        <%= "+ #{@count_saldo_realocacao}" %>
        <span class='tip'><%= @perc_aulas_a_repor = calcular_percentual(@count_saldo_realocacao, @total_geral) %>%</span>
      </td>
      <td class='tip_trigger' style='background-color: red; color: black;'>
        <%= "+ #{@count_faltas_sem_direito_a_reposicao}" %>
        <span class='tip'><%= @perc_faltas_sem_direito_a_reposicao = calcular_percentual(@count_faltas_sem_direito_a_reposicao, @total_geral) %>%</span>
      </td>
      <td> <%= "= #{@total_geral}" %></td>
      <% if current_user %>
        <td class='tip_trigger' style='background-color: white;'>
          <%= @count_presencas_erroneas %>
        </td>
      <% end %>
      <td class='tip_trigger' style='background-color: #fff;'>
        <%= " #{@count_presencas_expiradas}"%>
      </td>
    </tr>
  </table>

  <h2>Realocações</h2>
  <table>
    <tr>
      <th>Faltas com direito<br/>à realocação</th>
      <th>Aulas realocadas</th>
      <th>Saldo para realocação</th>
    </tr>
    <tr>
      <td class='tip_trigger' style='background-color: yellow;'>
        <%= @count_faltas_com_direito_a_reposicao %>
        <span class='tip'><%= calcular_percentual(@count_faltas_com_direito_a_reposicao, @total_geral) %>%</span>
      </td>

      <td class='tip_trigger' style='background-color: lightgreen;'>
        <%= "- #{@count_aulas_realocadas}" %>
        <span class='tip'><%= @perc_de_aulas_realocadas = calcular_percentual(@count_aulas_realocadas, @total_geral) %>%</span>
      </td>

      <td class='tip_trigger' style='background-color: #f5e9e9;'>
        <%= "= #{@count_saldo_realocacao}"%>
        <span class='tip'><%= @perc_aulas_a_repor = calcular_percentual(@count_saldo_realocacao, @total_geral) %>%</span>
      </td>
    </tr>
  </table>
  <% if current_user %>
    <% if not @presencas_erroneas.empty? %>
      <h2> Presenças Errôneas</h2>
      <table>
        <tr>
          <th>ID: </th>
          <th>Data: </th>
          <th>Horario: </th>
          <th>Presença: </th>
          <th>Tem direito a reposição: </th>
          <th>Realocação: </th>
          <th> &nbsp; </th>
        </tr>
        <% @presencas_erroneas.each do |presenca| %>
          <tr>
            <td><%= presenca.id %></td>
            <td><%= presenca.data.strftime("%d/%m/%Y") %></td>
            <td><%= presenca.horario %></td>
            <td><%= presenca.presenca %></td>
            <td><%= presenca.tem_direito_a_reposicao %></td>
            <td><%= presenca.realocacao %></td>
            <td><a href="<%= edit_presenca_path(presenca.id)%>">Editar</a></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>

  <h2>Faltas Expiradas</h2>
  <table>
      <thead>
          <tr>
              <% @meses.each do |mes| %>
                  <th><%= mes %></th>
              <%end%>
          </tr>
      </thead>
      <tbody>
          <tr>
              <% (1..12).each do |mes| %>
                  <td>
                      <%= @count_expiradas_meses[mes]%>
                  </td>
              <% end %>
          </tr>
      </tbody>
  </table>

</div>
<br/>
<div id='grafico_das_estatisticas_do_aluno' style='height: 400px; min-width: 600px'></div>
<script type='text/javascript'>
  $(document).ready(function() {graph();});
  $(document).ajaxComplete(function(){graph();});
  function graph() {
    colors= [
      '#109415', // verde escuro
      'lightblue', // azul claro
      '#8fee90', // verde claro
      '#f5e9e9', // branco
      '#F00C0C'  // vermelho
        ];
    Highcharts.getOptions().colors = Highcharts.map(colors,
        function(color) {
        return {
radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
stops: [
[0, color],
[1, Highcharts.Color(color).brighten(-0.3).get('rgb')]
]
};
});
new Highcharts.Chart({
chart: {
renderTo: 'grafico_das_estatisticas_do_aluno',
type: 'pizza'
},
title: {
text: 'Gráfico de Estatísticas das Presenças'
},
tooltip: {
pointFormat: '{point.y}%'
},
plotOptions: {
pie: {
allowPointSelect: true,
cursor: 'pointer',
dataLabels: {
enabled: true,
color: '#000',
formatter: function() {
return this.point.name + ': ' + this.point.y + '%';
}
},
showInLegend: false
}
},
series: [{
type: 'pie',
      name: 'Estatísticas',
      data: [
        ['Presenças', <%= @perc_presencas %>],
      ['Aulas Extras', <%= @perc_aulas_extras %>],
      ['Aulas Realocadas', <%= @perc_de_aulas_realocadas %>],
      ['Saldo para Realocação', <%= @perc_aulas_a_repor %>],
      ['Faltas sem direito<br/>a realocação', <%= @perc_faltas_sem_direito_a_reposicao %>],
      ]
        }]
});
}
</script>
