<div id='pontualidade_table' class='active-scaffold'>
  <table>
    <thead>
      <tr>
        <th>Intervalo de Pontualidade</th>
        <th>Percentual</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='background: #F00C0C; color: black;'>-15 (Atrasado mais de 15 minutos)</td>
        <td class='tip_trigger' style='background: #F00C0C; color: black;'>
          <%= @pontualidades[:menor_que_menos_quinze] %>%
          <span class='tip'>Percentual de Atraso maior que 15 minutos.</span>
        </td>
      </tr>
      <tr>
        <td style='background: #FFF200'>-5 a -15 (Atrasado entre 5 e 15 minutos)</td>
        <td class='tip_trigger' style='background: #FFF200'>
          <%= @pontualidades[:maior_que_menos_quinze] %>%
          <span class='tip'>Percentual de Atraso entre 5 e 15 minutos.</span>
        </td>
      </tr>
      <tr>
        <td style='background: #11C900'>-5 a 5 (PONTUAL)</td>
        <td class='tip_trigger' style='background: #11C900'>
        <%= @pontualidades[:maior_que_menos_cinco] %>%
          <span class='tip'>Percentual do intervalo entre 4 minutos de Atraso e 4 minutos Adiantado.</span>
        </td>
      </tr>
      <tr>
        <td style='background: #fc8aeb'>5 a 15 (Adiantado entre 5 e 15 minutos)</td>
        <td class='tip_trigger' style='background: #fc8aeb'>
          <%= @pontualidades[:maior_que_cinco] %>%
          <span class='tip'>Percentual de Adiantamento entre 5 e 15 minutos.</span>
        </td>
      </tr>
      <tr>
        <td style='background: #2134ff'>15 (Adiantado mais de 15 minutos)</td>
        <td class='tip_trigger' style='background: #2134ff'>
          <%= @pontualidades[:maior_que_quinze] %>%
          <span class='tip'>Percentual de Adiantamento maior que 15 minutos.</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<div id='grafico_da_pontualidade_do_aluno'></div>
<script type='text/javascript'>
   $(document).ready(function(){
     tooltips();
     pontualidadeGraph();
   });
   $(document).ajaxComplete(function(){
     pontualidadeGraph();
   });
   function pontualidadeGraph() {
      colors= [
        '#F00C0C', // vermelho
        '#FFF200', // amarelo
        '#11C900', // verde
        '#fc8aeb', // lilás (roxo whatever)
        '#2134ff'  // azul
      ];
      Highcharts.getOptions().colors = Highcharts.map(colors,
      function(color) {
        return {
          radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
          stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')]
          ]
        };
      });
     new Highcharts.Chart({
       chart: {
         renderTo: 'grafico_da_pontualidade_do_aluno',
         type: 'pizza'
       },
       title: {
         text: 'Gráfico da Pontualidade dos Treinamentos'
       },
       tooltip: {
         pointFormat: '{point.y}%'
       },
       plotOptions: {
         pie: {
           allowPointSelect: true,
           cursor: 'pointer',
           dataLabels: {
             enabled: true,
             color: '#000',
             formatter: function() {
               return this.point.name + ': ' + this.point.y + '%';
             }
           },
           showInLegend: false
         }
       },
       series: [{
         type: 'pie',
         name: 'Estatísticas',
         data: [
           ['Atrasado mais de 15(quinze) minutos', <%= @pontualidades[:menor_que_menos_quinze] %>],
           ['Atrasado entre 5(quatro) e 15(quinze) minutos', <%= @pontualidades[:maior_que_menos_quinze] %>],
           ['Adiantado ou Atrasado entre 0(zero) e 4(quatro) minutos', <%= @pontualidades[:maior_que_menos_cinco] %>],
           ['Adiantado entre 5(cinco) e 15(quinze) minutos', <%= @pontualidades[:maior_que_cinco] %>],
           ['Adiantado mais de 15(quinze) minutos', <%= @pontualidades[:maior_que_quinze] %>]
         ]
       }]
     });
   }
</script>

