<div id='presencas_table' class='active-scaffold'>
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Horário</th>
        <th>Pontualidade</th>
        <th>Presença</th>
        <th>Realocação</th>
        <th>Data da Falta ou do horário a ser Adiantado</th>
        <th>Fora de Horário</th>
        <th>Tem Direito à Reposição?</th>
        <th>Aula Extra?</th>
        <th>Justificativa de Falta</th>
      </tr>
    </thead>
    <tbody>
      <% even_record = false %>
      <% @pessoa.presencas.order("data desc").order("horario desc").limit(5).each do |presenca| %>
        <tr class='record<%= "even-record" if even_record %>'>
          <td><%= presenca.data.strftime("%d/%m/%Y") %></td>
          <td><%= presenca.horario %></td>
          <td><%= presenca.pontualidade.to_s %></td>
          <td><%= ( (presenca.presenca) ? inputEnabled : inputDisabled ) %></td>
          <td><%= ( (presenca.realocacao) ? inputEnabled : inputDisabled ) %></td>
          <td><%= ( (presenca.data_de_realocacao.nil?) ? "" : presenca.data_de_realocacao.strftime("%d/%m/%Y") ) %></td>
          <td><%= ( (presenca.fora_de_horario) ? inputEnabled : inputDisabled ) %></td>
          <td><%= ( (presenca.tem_direito_a_reposicao) ? inputEnabled : inputDisabled ) %></td>
          <td><%= ( (presenca.aula_extra) ? inputEnabled : inputDisabled ) %></td>
          <td><%= ( (presenca.justificativa_de_falta.nil?) ? get_link(presenca) : (presenca.justificativa_de_falta.descricao.nil?) ? "" : presenca.justificativa_de_falta.descricao ) %></td>
        </tr>
        <% even_record = !even_record %>
      <% end %>
    </tbody>
  </table>
</div>
