<script type='text/javascript'>
  function gerarTabelaDePontos() {
    url = '/registros_de_ponto_por_mes?funcionario_id='+$('.id-view').text().trim()+'&mes='+$('#mes').val();
    $("#registros_de_ponto").load(url + " #registros_de_ponto ");
  }
</script>
<div class='filtros mes'>
  <label for='mes'>Mês:</label>
  <select name='mes' id='mes'>
    <% for i in 0..(Date::MONTHNAMES.length - 1) %>
      <% if i == Date.today.month %>
        <option selected value='<%= i %>'><%= Date::MONTHNAMES[i] %></option>
      <% else %>
        <option value='<%= i %>'><%= Date::MONTHNAMES[i] %></option>
      <% end %>
    <% end %>
  </select>
  <label for='ano'>Ano:</label>
  <input type='text' name='ano' value='<%= params[:ano] || Time.now.year %>'/>
  <input type='submit' value='Filtrar' onclick='gerarTabelaDePontos();'/>
</div>
<div id='registros_de_ponto'>
  <% if @registros_de_ponto.blank? %>
    Nenhum registro de ponto para esse mês.
  <% else %>
    <table id='ponto_table' class='active-scaffold'>
      <thead>
        <tr>
          <th>Data</th>
          <th>Hora de Chegada</th>
          <th>Hora de Saída</th>
          <th>Total de horas trabalhadas</th>
          <th>Total de horas arredondada</th>
        </tr>
      </thead>
      <tbody>
        <% sum_a_day = 0 %>
        <% sum_a_month = 0 %>
        <% sum_a_week = 0 %>
        <% sum_round_a_week = 0 %>
        <% sum_round_a_month = 0 %>
        <% beginning_of_week = nil %>
        <% even_record = false %>
        <% @registros_de_ponto.each do |ponto| %>
          <% if (not beginning_of_week.nil? and beginning_of_week != ponto.data.beginning_of_week) %>
            <tr>
              <td colspan="3">Total da semana:</td>
              <td><%= seconds_to_txt(sum_a_week) %></td>
              <td><%= seconds_to_txt(sum_round_a_week) %></td>
            </tr>
            <% sum_round_a_month += sum_round_a_week %>
            <% sum_a_week = 0 %>
            <% sum_round_a_week = 0 %>
          <% end %>

          <% if beginning_of_week != ponto.data.at_beginning_of_week %>
            <% beginning_of_week = ponto.data.at_beginning_of_week %>
          <% end %>

          <tr class='record<%= " even-record" if even_record %>' >
            <td><%= ponto.data.strftime("%d/%m/%Y") %></td>
            <td><%= hora_de_chegada = ponto.hora_de_chegada %></td>
            <td><%= hora_de_saida = ponto.hora_de_saida.to_s %></td>
            <% sum_a_day = calcula_horas_trabalhadas(hora_de_chegada, hora_de_saida) %>
            <% sum_a_week += sum_a_day %>

            <td><%= Time.at(sum_a_day).gmtime.strftime("%H:%M") %></td>
            <td><%= round_h = (ponto.pessoa_id == 136) ? seconds_to_txt(sum_a_day) : round_hour(sum_a_day) %></td>
            <% sum_round_a_week += txt_to_seg(round_h) %>
          </tr>

          <% if @registros_de_ponto.last == ponto %>
            <tr>
              <td colspan="3">Total da semana:</td>
              <td><%= seconds_to_txt(sum_a_week) %></td>
              <td><%= seconds_to_txt(sum_round_a_week) %></td>
            </tr>
            <% sum_round_a_month += sum_round_a_week %>
            <% sum_a_week = 0 %>
            <% sum_round_a_week = 0 %>
          <% end %>

          <% sum_a_month += sum_a_day %>
          <% even_record = !even_record %>
        <% end %>
      </tbody>
    </table>
    <p>Total no mês: <%= seconds_to_txt(sum_a_month) %></p>
    <p>Total no mês arredondado: <%= seconds_to_txt(sum_round_a_month) %></p>
  <% end %>
</div>
