<script>
  $(document).ready(function() {
    $("legend").on("click", function() {
      $("#filtros-clientes-inativos").toggleClass("filtros-clientes-inativos-none");
      $("#filtros-clientes-inativos").toggleClass("filtros-clientes-inativos-show");
    });
  });
  function gerarTabelaInativos() {
    cpCheckeds = new Array();
    $("#filtro-dias-da-semana").find("input:checked").each(function() {
          cpCheckeds.push($(this).val());
    });

    tipo_do_tempo = "";
    radios = $('[name=\"tipo[tempo]\"]');
    for(i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        tipo_do_tempo = radios[i].value;
      }
    }
    url = '/clientes_inativos_filtrar?aluno_id='+$("#filtro_pessoa_id").val()+'&dias_da_semana='+cpCheckeds+'&mes_da_interrupcao='+$("#filtro_mes_id").val()+'&tipo_do_tempo='+tipo_do_tempo+'&tempo_de_permanencia='+$("#tempo_de_permanencia").val()+'&freq_semanal='+$("#filtro_freq_semanal").val();
    $("#clientes-inativos").load(url + " #clientes-inativos ");
  }
</script>
<fieldset>
  <legend id="lgd-filtros">Filtros</legend>
  <div id="filtros-clientes-inativos" class="filtros-clientes-inativos-none">
    <!-- form action="< clientes_inativos_filtrar_path %>" method="GET" accept-charset="utf-8" -->
      <div id="filtro-aluno">
        Aluno:
        <%= select("filtro", "pessoa_id", Pessoa.order(:nome).all.collect {|p| [p.nome, p.id]}, {prompt: "- Selecione -"} ) %>
      </div>
      <div id="filtro-dias-da-semana">
        Dias da semana:
        <p>
          <% Date::DAYNAMES.each do |day| %>
            <% day_of_week = day.gsub(/\W/, '') %>
            <%= check_box_tag "semana_#{day_of_week}", day_of_week %>
            <label class="nome-da-semana" for="semana_<%= day_of_week %>"><%= day %></label>
          <% end %>
        </p>
      </div>
      <div id="filtro-mes-da-interrupcao">
        <% i = -1 %>
        Mês da interrupção:
        <%= select("filtro", "mes_id", Date::MONTHNAMES.collect {|m| i = i + 1;  [m, i]}, {prompt: "- Selecione -"} ) %>
      </div>
      <div id="filtro-tempo-de-permanencia">
        Selecione as seguintes opções para o tempo de permanência:
        <p>
          <%= radio_button "tipo", "tempo", "dia" %> Dias
          <%= radio_button "tipo", "tempo", "mes" %> Meses
          <%= radio_button "tipo", "tempo", "ano" %> Anos
        </p>
        <p>Tempo de Permanência: <input type="text" id="tempo_de_permanencia" name="tempo-de-permanencia" value="" /></p>
      </div>
      <div id="freq-semanal">
        Frequência semanal:
        <%= select("filtro", "freq_semanal", (1..5).collect { |n| [n, n] }, {prompt: "- Selecione -"} ) %>
      </div>
      <p>
        <input type="submit" value="Filtrar" class="active-scaffold submit" onclick="gerarTabelaInativos();"/>
        <%= link_to "Cancelar", "" %>
      </p>
    <!-- /form -->
  </div>
</fieldset>
<div id="clientes-inativos" class="active-scaffold">
  <table>
    <tr>
      <th><a href="#">Código</a></th>
      <th><a href="#">Nome</a></th>
      <th><a href="#">Seg</a></th>
      <th><a href="#">Ter</a></th>
      <th><a href="#">Qua</a></th>
      <th><a href="#">Qui</a></th>
      <th><a href="#">Sex</a></th>
      <th><a href="#">Sáb</a></th>
      <th><a href="#">Motivo da Interrupção</a></th>
      <th><a href="#">Data de Inicio</a></th>
      <th><a href="#">Data de Interrupção</a></th>
      <th><a href="#">Tempo de Permanencia</a></th>
      <th><a href="#">Frequência Semanal</a></th>
      <th><a href="#">% Faltas</a></th>
    </tr>
    <% even_record = false %>
    <% @matriculas.each do |matricula| %>
      <tr class="record <%= "even-record" if even_record %>">
        <td><%= matricula.pessoa_id %></td>
        <td><%= matricula.pessoa.nome %></td>
        <td><%= matricula.hora_da_aula 1 %></td>
        <td><%= matricula.hora_da_aula 2 %></td>
        <td><%= matricula.hora_da_aula 3 %></td>
        <td><%= matricula.hora_da_aula 4 %></td>
        <td><%= matricula.hora_da_aula 5 %></td>
        <td><%= matricula.hora_da_aula 6 %></td>
        <td><%= matricula.motivo_da_interrupcao %></td>
        <td><%= matricula.data_inicio %></td>
        <td><%= matricula.data_fim %></td>
        <td><%= distance_of_time_in_words(matricula.data_fim, matricula.data_inicio) %></td>
        <td><%= matricula.horario_de_aula.count %></td>
        <td><%= matricula.percentual_de_faltas * 100 %>%</td>
      </tr>
      <% even_record = !even_record %>
    <% end %>
  </table>
</div>
