<div class="active-scaffold" style="display: table; margin: 0 auto">
  <% @anos_ordenados = @anos.keys.sort %>
  <table>
    <tr>
      <th><a href="#">Mês</a></th>
      <% @anos_ordenados.each do |ano| %>
        <th><a href="#"><%= ano %></a></th>
      <% end %>
    </tr>
    <% even_record = false %>
    <% (1..12).each do |mes| %>
      <% matriculas_mes = @matriculas[mes] %>
      <tr class="record <%= "even-record" if even_record%>">
        <td><%= Date::MONTHNAMES[mes % 12] %></td>
        <% @anos_ordenados.each do |ano| %>
          <td>
            <% if matriculas_mes and matriculas_mes[ano] %>
              <%= c = matriculas_mes[ano].count %>
              <% @anos[ano] += c %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% even_record = !even_record %>
    <% end %>
    <tr class="record">
      <td><a href="#">Total ano</a></td>
      <% @anos_ordenados.each do |ano| %>
        <td><%= @anos[ano] %></td>
      <% end %>
    </tr>
    <tr class="record">
      <td><a href="#">Média mensal</a></td>
      <% @anos_ordenados.each do |ano| %>
        <td><%= (@anos[ano] / 12.0).round(2) %></td>
      <% end %>
    </tr>
  </table>
  Total Acumulado: <%= @anos.values.sum %>
</div>
