<script type="text/javascript">
   $('#signed-in').show('fade', 1000);
   setTimeout("$('#signed-in').slideUp();", 5000);
   $('.message-error').show('fade', 1000);
   setTimeout("$('.message-error').slideUp();", 5000);
</script>
<% if flash[:error] %>
  <div class="message-error border"><%= flash[:error] %></div>
  <% flash[:error] = nil %>
<% end %>
<div class="filtros periodo">
  <form action="<%= agenda_do_dia_filtrar_path %>" method="GET">
    <label for="data_inicial">Data inicial:</label>
    <input name="data-inicial" type="date" value="<%= @data_inicial %>" />
    <label for="data_final">Data final:</label>
    <input name="data-final" type="date" value="<%= @data_final %>" />

    <input type="submit" value="Filtrar" />
  </form>
</div>
<% if flash[:notice] %>
  <div id="signed-in"><%= flash[:notice] %></div>
<% end %>
<h2 id="titulo_agenda">Agenda do Dia</h2>
  <div id="agenda">
  <div id="horarios">
    <% if @agenda_do_dia.blank? %>
      <% data_inicio = Date.parse(@data_inicial) rescue @data_inicial %>
      <% data_final = Date.parse(@data_final) rescue @data_final %>
      <% if data_inicio == data_final %>
        <% if data_inicio == Date.today %>
          <div id="sem_horas">Nenhum Horário Cadastrado para Hoje</div>
        <% else %>
          <div id="sem_horas">Nenhum Horário Cadastrado</div>
        <% end %>
      <% end %>
    <% else %>
        <% dia_atual = @data_inicial %>
        <% primeiro = true %>
        <% while(dia_atual <= @data_final) %>
          <% @agenda_do_dia.each do |dia, agenda|%>
            <table>
            <% ultimo_horario = nil %>
            <% next if primeiro and dia < dia_atual.wday %>
            <% if (dia_atual.wday > dia)
                 dia_atual += 7 - (dia_atual.wday - dia)
               else
                 dia_atual += dia - dia_atual.wday
               end
            %>
            <% break if dia_atual > @data_final %>
            <tr><td class="titulo_dia" colspan="3"><%= Date::DAYNAMES[dia] %>  <%= dia_atual.strftime("%d/%m/%Y") %></td></tr>
            <% agenda.each do |a| %>
              <% aluno_id = a.matricula.aluno.id rescue a.aluno.id %>
              <% if exibir_aluno?(aluno_id, dia_atual) %>
                <tr>
                  <td>
                    <% if ultimo_horario == nil or ultimo_horario != a.horario %>
                      <%= horario = a.horario %> - <%= final_do_horario(horario) %>:
                    <% end
                       ultimo_horario = a.horario
                    %>
                  </td>
                  <td>
                    <% aluno = a.matricula.aluno rescue aluno = a.aluno %>
                    <%= link_to "#{aluno.primeiro_nome}<span> #{aluno.segundo_nome}</span>".html_safe, aluno_path(aluno) %>
                  </td>
                  <td><%= status_presenca(a, dia_atual) %></td>
                </tr>
              <% end %>
            <% end %>
            </table>
          <% end %>
          <% primeiro = false %>
          <% break if dia_atual == @data_final %>
        <% end %>
    <% end %>
  </div>
</div>
<i></i>
