<div id="dados">
  <p><label for="foto">Foto: </label><%= @aluno.foto %></p>
  <p><label for="nome">Nome: </label><%= @aluno.nome %></p>
  <p><label for="cpf">CPF: </label><%= @aluno.cpf %></p>
  <p><label for="email">Email: </label><%= @aluno.email %></p>
  <p><label for="sexo">Sexo: </label><%= @aluno.sexo %></p>
  <p><label for="data">Data de Nascimento: </label><%= @aluno.data_nascimento.strftime("%d/%m/%Y") %></p>
  <p><label for="codigo">Código de Acesso: </label><%= @aluno.codigo_de_acesso %></p>
  <p><label for="endereco">Endereço: </label><%= (@aluno.endereco.blank?) ? "" : @aluno.endereco.completo %></p>
  <p><label for="telefone">Telefones: </label>
  <% if not @aluno.telefones.blank? %>
    <% @aluno.telefones.each do |fone| %>
      <p><%= fone.label %></p>
    <% end %>
  <% end %>
  <label for="presencas">Presencas: </label>
  <%= presencas_column @aluno, nil %>
  <label for="estatistica">Estatisticas: </label>
  <%= estatisticas_column @aluno, nil %>
  <label for="pontualidade">Pontualidade: </label>
  <%= pontualidade_column(@aluno, nil)  %>
</div>
