<div>
  <% anos_ordenados = @years.keys.sort %>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Ano</th>
      <% (1..12).each do |mes| %>
        <th><%= Date::MONTHNAMES[mes % 12] %><br />Desistiram</th>
        <th><%= Date::MONTHNAMES[mes % 12] %> <br/>Entraram</th>
      <% end %>
    </tr>
    <% even_record = false %>
    <% anos_ordenados.each do |ano| %>
      <tr class="record <%= "even-record" if even_record%>">
        <td><%= ano %></td>
        <% (1..12).each do |mes| %>
          <% matriculas_mes = @matriculas[mes] %>
          <td>
            <% if matriculas_mes and matriculas_mes[ano] %>
              <%= c = matriculas_mes[ano].count %>
              <% @years[ano] += c %>
            <% end %>
          </td>
          <td>
            <% @clientes_que_entraram.collect do |data_inicio, matricula| %>
              <% if data_inicio[0] == mes and data_inicio[1] == ano %>
                <%= matricula.count %>
                <% count_alunos_que_entraram_no(mes,ano,matricula.count) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% even_record = !even_record %>
    <% end %>
  </table>

  <table class="table table-striped table-bordered">
    <tr>
      <% anos_ordenados.each do |ano| %>
        <th>Total <%= ano %> Desistiram </th>
        <th>Média mensal <%= ano %> Desistiram </th>
        <th>Total <%= ano %> Entraram </th>
        <th>Média mensal <%= ano %> Entraram </th>
      <% end %>
    </tr>

    <tr>
      <% anos_ordenados.each do |ano| %>
        <td><%= @years[ano] %></td>
        <td><%= (@years[ano] / 12.0).round(2) %></td>
        <td><%= @total_alunos_que_entraram[ano] %></td>
        <td><%= (@total_alunos_que_entraram[ano] / 12.0).round(2) %> </td>
      <% end %>
    </tr>
  </table>
  Total Acumulado, dos clientes que desistiram: <%= @years.values.sum %> <br />
  Total Acumulado, dos clientes que entraram: <%= @total_alunos_que_entraram.values.sum  %>
</div>
