<div id="ativos_inativos" >
  <h2>Lista de alunos ativos ou inativos</h2>
  <fieldset class= "filtro-ativo-inativo">
  <legend>Filtro: </legend>
  <form class="form form-horizontal form_ativos_inativos" method="get"/>
    <div class="control-group">
      <div class="checkbox">
        <label for="ativos_matriculados">
          <input type="checkbox" id="ativos_matriculados" name="ativos_matriculados" <%= params[:ativos_matriculados] ? "checked='checked'" : '' %> /> Alunos Ativos
        </label>
      </div>
      <div class="checkbox">
        <label for="inativos">
          <input type="checkbox" id="inativos" name="inativos" <%= params[:inativos] ? "checked='checked'" : '' %> /> Alunos Inativos
        </label>
      </div>
      <div class="checkbox">
        <label for="interrompidos">
          <input type="checkbox" id="interrompidos" name="interrompidos" <%= params[:interrompidos] ? "checked='checked'" : '' %> /> Alunos Interrompidos
        </label>
      </div>
      <div class="checkbox">
        <label for="objetivo_primario">
          <input type="checkbox" id="objetivo_primario" name="objetivo_primario" <%= params[:objetivo_primario] ? "checked='checked'" : '' %> /> Alunos Agrupados por objetivo primário
        </label>
      </div>
      <div class="col-md-2">
        <label for="anos">Ano: 
          <%= select_tag :anos, options_for_select((2000..2100)), prompt: "Selecione o ano"%>
        </label>
      </div>
    </div>
    <input type="submit" value="Filtrar"/>
  </form>
  </fieldset>
  
    <table class="table table-striped table-bordered tabela-ativos-inativos">
      <thead>
        <tr>
          <th>Count</th>
          <th>Nomes</th>
          <th>Objetivo primário</th>
          <th>Anotações</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0%>
        <% @alunos.each do |pessoa| %>
          <tr>
            <td id="posicao">
              <%= count += 1 %> 
            </td>
            <td>
              <span><%= pessoa.nome %></span>
            </td>
            <td>
              <span><%= com_objetivo_primario(pessoa) %></span>
            </td>
            <td class="tabela_colunas_brancas">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
 </div>
<i></i>
