<!DOCTYPE html>
<html>
  <head>
    <title>Controle De Presenca Magnus</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src='http://code.highcharts.com/stock/highstock.js'></script>
    <script src='http://code.highcharts.com/stock/modules/exporting.js'></script>

    <script type="text/javascript">
      function verificaUltimaPaginaAcessada() {
        $.ajax({
          url: "/verifica_ultima_pagina_acessada"
        });
      }
      $(document).ready(function() { // Ao redirecionar para a pg de edição de alguma presença pelo ícone da agenda do dia os campos perdiam a máscara
          $(".data-input").mask("99/99/9999");
          $(".data_de_realocacao-input").mask("99/99/9999");
          $(".horario-input").mask("99:99");
          $('[name=\"record[justificativa_de_falta][descricao]\"]').css('width', '300px');
      });
      $(document).ajaxComplete(function(){
          $(".cpf-input").mask("999.999.999-99");
          $(".data_nascimento-input").mask("99/99/9999");
          $(".data_matricula-input").mask("99/99/9999");
          $(".data_de_realocacao-input").mask("99/99/9999");
          $(".data_inicio-input").mask("99/99/9999");
          $(".data_fim-input").mask("99/99/9999");
          $(".data-input").mask("99/99/9999");
          $(".horario-input").mask("99:99");
          $(".cep-input").mask("99.999-999");
          $('.motivo_da_interrupcao-input').css('width', '500px');
          $('.nome-input').css('width', '350px');
          $('.email-input').css('width', '350px');
          $('.logradouro-input').css('width', '300px');
          $('[name=\"record[justificativa_de_falta][descricao]\"]').css('width', '300px');
       });
    </script>
  </head>
  <body>
    <div id="top">
      <% if user_signed_in? %>
        <strong><div id="login">Usuário: </strong><%= current_user.email %>, <%= link_to 'Sair', destroy_user_session_path, :method => :delete %></div>
      <% end %>
      <div id="logo">
        <img src="/assets/logo.png"/></img>
      </div>
      <% if user_signed_in? %>
        <div class="menu">
          <ul>
            <li><a href="/">Agenda do Dia</a></li>
            <li><a href="/pessoas">Pessoas</a></li>
            <li><a href="/matriculas">Matrículas</a></li>
            <li><a href="/presencas" onclick="verificaUltimaPaginaAcessada();">Presenças</a></li>
            <li><a href="/feriados">Feriados</a></li>
            <li><a href="#">Relatórios</a>
              <ul>
                <li><a href="/aniversariantes">Aniversariantes do Mês</a></li>
                <li><a href="/clientes_inativos">Clientes Inativos</a></li>
                <li><a href="/clientes_que_perdemos">Clientes que Perdemos</a></li>
                <li><a href="/quadro_de_horarios">Quadro de Horários</a></li>
                <li><a href="/graficos">Gráficos</a></li>
              </ul>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
